.app-wrapper-container {
  height: 100%;
  width: 100%;
  background-color: #1f1a24;


  .app-wrapper-container__content {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 56px);

    .row {
      height: 100%;
    }
  }

  .app-wrapper-container__main {
    background-color: #281F34;
    border-radius: 10px;
    margin-top: 5px;
  }

  .app-wrapper-container__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 250px;
      height: 650px;
    }
  }
}
